<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag "katex" %>
    <%= stylesheet_link_tag "markdown" %>
    <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
    <div class="container">
      <h1>💡 Today's Notes</h1>

      <% @notes.each do |note| %>
        <div class="chunk markdown-body">
          <%= raw Kramdown::Document.new(
                note,
                input: "GFM",
                math_engine: "katex",
                hard_wrap: false,
                syntax_highlighter: nil,
                math_engine_opts: {
                  display_math_delims:  ['$$','$$'],
                  inline_math_delims:   ['$', '$'],
                  katex_options: { trust: true }
                }
              ).to_html %>
        </div>
      <% end %>

      <div class="footer">
        Keep learning, one step at a time 💡  
        <br>
        <a href=<%= ENV.fetch("APP_URL", "") %> class="button">Review More Notes</a>
      </div>
    </div>
  </body>
</html>